@model Ulacit_parking.Models.ViewModels.UserViewModel

@{
    ViewBag.Title = "Cambiar contraseña";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-5" style="max-width: 500px;">
    <h3>Cambiar contraseña</h3>

    @if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success">
            @TempData["SuccessMessage"]
        </div>
    }

    @using (Html.BeginForm("CambiarPassword", "Admin", FormMethod.Post))
    {
        @Html.HiddenFor(m => m.Id)

        <div class="mb-3">
            <label for="Password" class="form-label">Nueva Contraseña</label>
            @Html.PasswordFor(m => m.Password, new { @class = "form-control", required = "required" })
            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
        </div>

        <button type="submit" class="btn btn-primary">Guardar</button>
    }
</div>
